#container {
  text-align: center;
  padding: 5px;
  margin: auto;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.selected {
  background-color: #096b74;
  border: 2px solid #a6a073;
  color: white;
}

.notselected {
  background-color: white;
}

button {
  border-radius: 4px;
  margin-bottom: 2px;
  margin-top: 5px;
}

.manga-page {
  max-width: 450px;
  height: 550px; 
  margin-top: 2px;
}